.cpcache
node_modules
.idea
.shadow-cljs
web-target/public/*
package.json
package-lock.json
.clj-kondo/.cache
docs/js
/target
*.iml
/classes
/checkouts
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
