{:paths ["src" "resources"]
 :deps
 {
  cljsjs/js-joda {:mvn/version "1.6.2-0"}
  cljsjs/js-joda-timezone {:mvn/version "1.3.0-0"}
  henryw374/js-joda-locale-en-us {:mvn/version "1.0.0-1"}
  net.cgrand/macrovich {:mvn/version "0.2.0" :exclusions [org.clojure/clojurescript]}}

 :aliases
 {:dev
  {:extra-deps
   {org.clojure/clojurescript {:mvn/version "1.10.238"}
    org.clojure/data.xml {:mvn/version "0.2.0-alpha5"}
    org.apache.xmlgraphics/batik-swing {:mvn/version "1.9"}
    io.aviso/pretty {:mvn/version "0.1.34"}
    spyscope {:mvn/version "0.1.6"}
    fipp {:mvn/version "0.6.12"}}

   :extra-paths ["dev/src" "test"]
   :jvm-opts ["-Dclojure.spec.compile-asserts=true"]}

  :test {:extra-paths ["test"]
         :extra-deps
         {com.cognitect/test-runner
          {:git/url "git@github.com:cognitect-labs/test-runner"
           :sha "5fb4fc46ad0bf2e0ce45eba5b9117a2e89166479"}}
         :main-opts ["-m" "cognitect.test-runner"]}

  :dev/nrepl {:jvm-opts ["-Dnrepl.load=true"]
              :extra-paths ["aliases/nrepl"]
              :extra-deps
              {cider/cider-nrepl {:mvn/version "0.17.0"}
               ;;refactor-nrepl {:mvn/version "2.3.1"}
               com.cemerick/piggieback {:mvn/version "0.2.2"}
               org.clojure/tools.nrepl {:mvn/version "0.2.12"}}}

  :dev/rebel {:extra-paths ["aliases/rebel"]
              :extra-deps {com.bhauman/rebel-readline {:mvn/version "0.1.1"}
                           io.aviso/pretty {:mvn/version "0.1.34"}}
              :main-opts ["-m" "tick.rebel.main"]}}}
