{:paths ["src"]
 :deps  {com.widdindustries/cljc.java-time {:mvn/version "0.1.21"
                                        ;:git/url "https://github.com/henryw374/cljc.java-time.git"
                                        ;:sha "5837778b307870c1ff0715fab692211dec253a6f"
                                        }
         com.widdindustries/time-literals {:mvn/version "0.1.10"
                                           :exclusions [com.widdindustries/cljs.java-time]}}

 :aliases
        {:nyc          {:jvm-opts ["-Duser.timezone=America/New_York"]}
         :minus-four   {:jvm-opts ["-Duser.timezone=\"GMT-04:00\""]}

         :release      {:extra-deps {applied-science/deps-library {:mvn/version "RELEASE"}}
                        :main-opts  ["-m" "applied-science.deps-library"]}
         :dev          {:extra-deps  {}
                        :extra-paths ["dev/src" "test"]}
         :test-clj {:extra-paths ["test"]
                    :extra-deps  {lambdaisland/kaocha           {:mvn/version "1.0.732"}
                                      lambdaisland/kaocha-junit-xml {:mvn/version "0.0.76"}}}
         :test-cljs {:extra-paths ["dev/src" "test" "web-target"]
                     :extra-deps  {com.widdindustries/tiado-cljs2
                                   { ;:local/root "../shadow-template" 
                                    :git/url "https://github.com/henryw374/tiado-cljs2.git"
                                    :sha "fbd9f3b8df3523ccf11bbc685836ce7f96f18068"
                                    }}}
         :build     {:extra-paths ["dev/src"]
                     :extra-deps  {io.github.clojure/tools.build {:git/tag "v0.7.5" :git/sha "34727f7"}
                                   slipset/deps-deploy           {:mvn/version "RELEASE"}}
                     :ns-default  build}
         ;; following 3 aliases all broken. easiest opt is to try to use the shadow build
         :test-node    {:extra-paths ["test" "cljs-test-runner-out/gen"]
                        :extra-deps  {olical/cljs-test-runner   {:mvn/version "3.7.0" :exclusions [org.clojure/clojurescript]}
                                      org.clojure/clojurescript {:mvn/version "1.10.764"}}
                        :main-opts   ["-m" "cljs-test-runner.main" "-x" "node"]}
         :docs-watch   {:jvm-opts    ["-Xmx500M"]
                        :extra-paths ["docs/src" "docs"]
                        :extra-deps  {reagent/reagent           {:mvn/version "0.8.1"}
                                      com.bhauman/figwheel-main {:mvn/version "0.2.12"}
                                      org.clojure/clojurescript {:mvn/version "1.10.764"}}
                        :main-opts   ["-m" "figwheel.main" "-O" "none" "--build" "docs" "--repl" "-s"]}
         :docs-release {:jvm-opts    ["-Xmx500M"]
                        :extra-paths ["docs/src" "docs"]
                        :extra-deps  {reagent/reagent           {:mvn/version "0.8.1"}
                                      com.bhauman/figwheel-main {:mvn/version "0.2.12"}
                                      org.clojure/clojurescript {:mvn/version "1.10.764"}}
                        :main-opts   ["-m" "figwheel.main" "-O" "simple" "--build-once" "docs"]}

         }}
