^{:auto-testing false
  :open-url false
  :watch-dirs ["docs/src" ]}
{:main          tick.docs.app
 :output-to     "docs/public/js/main.js"
 :output-dir    "docs/public/js"
 :verbose       true
 ;:cache-analysis true
 }