;; shadow-cljs configuration
 {:source-paths
  ["src" "docs/src"]

  :dependencies
  [[cljs.java-time "0.1.2"]
   [cljsjs/js-joda-timezone "1.3.0-0"]
   [henryw374/js-joda-locale-en-us "1.0.0-1"]
   [reagent "0.8.1"]
   [net.cgrand/macrovich "0.2.0"
    :exclusions [org.clojure/clojurescript]]
   [cider/cider-nrepl "0.17.0"]]

  :builds
  {:doc {:target :browser
         :output-dir "docs/js"
         :asset-path "js"
         :modules {:main {:entries [tick.docs.app]}}
         :devtools {:http-root "docs"
                    :http-port 8080}}

   :bootstrap-support
   {:target :bootstrap
    :output-dir "docs/js/bootstrap"
    :exclude #{cljs.js}
    :entries [cljs.js tick.alpha.api]
    :macros []}}}
