;; shadow-cljs configuration
 {:source-paths
  ["src" "docs/src"]

  :dependencies
  [[org.clojure/clojurescript "1.10.238"]
   [tick "0.4.7-alpha"]
   [thheller/shadow-cljsjs "0.0.16"]
   [cljs.java-time "0.1.6"]
   [jsr310-tagged-literals "0.1.4"]
   [net.cgrand/macrovich "0.2.0"
    :exclusions [org.clojure/clojurescript]]
   [reagent "0.8.1"]
   [cider/cider-nrepl "0.17.0"]]

  :builds
  {:doc {:target :browser
         :output-dir "docs/js"
         :asset-path "js"
         :modules {:main {:entries [tick.docs.app]}}
         :devtools {:http-root "docs"
                    :http-port 8080}}

   :bootstrap-support
   {:target :bootstrap
    :output-dir "docs/js/bootstrap"
    :exclude #{cljs.js}
    :entries [cljs.js tick.alpha.api tick.timezone]
    :macros []}}}
