#kaocha/v1
{:plugins [:kaocha.plugin.alpha/info
           :kaocha.plugin.alpha/spec-test-check
           :kaocha.plugin/orchestra
           ]

 :tests [{:id         :clj
          :skip-meta [:deprecated]
          :test-paths ["test"]}]

 :reporter kaocha.report/documentation}
